.chart {
    /*-fx-background-color: #3F72AF;*/
    /*-fx-background-color: #112D4E;*/
    -fx-background-color: #ffffff;
    /*-fx-background-color: linear-gradient(to right, #112d4e, #345c8f, #345c8f, #112d4e, #5791d6);*/
    -fx-font-size: 20;
    -fx-text-fill: white;
    -fx-legend-visible: false;
}

.axis-label {
    -fx-text-fill: #ffffff;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-series-line {
    -fx-stroke-width: 8px;
}

.default-color0.chart-series-line {
    -fx-stroke: #112D4E;
}

.default-color1.chart-series-line {
    -fx-stroke: #e5d849;
}

.default-color2.chart-series-line {
    -fx-stroke: #ed4d51;
}